@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        Singleton : @ViewBag.Singleton
    </p>
    <p>
        Scoped : @ViewBag.Scoped
    </p>
    <p>
        Transient : @ViewBag.Transient
    </p>

    <h3>In Service Object </h3>
    <p>
        Singleton : @ViewBag.SingletonService
    </p>
    <p>
        Scoped : @ViewBag.ScopedService
    </p>
    <p>
        Transient : @ViewBag.TransientService
    </p>
</div>
